.offeringSection {
  padding: 36px 16px;
  background: #f1f1f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.colLeft {
  flex: 1 1 68%;
}

.colRight {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}

.headerWithIcon,
.headerWithIconRight {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.icon svg {
  display: block;
}

.title {
  font-size: 20px;
  color: #123a6b;
  margin: 0;
  font-weight: 700;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #162f6a;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.tab,
.tabActive {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tab {
  color: #222e4c;
  background-color: #fff;
}

.tabActive {
  color: #fff;
  background-color: #222e4c;
  color: #fff;
  font-weight: 600;
}

.listBox {
  background: #fff;
  border-radius: 0 0 6px 6px;
  padding: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  border-top: none;
  max-height: 180px;
  overflow-y: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.listItem {
  padding: 12px 20px;
  border-bottom: 1px solid #e8eefc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #150202;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem !important;
  cursor: pointer;
  user-select: none;
  line-height: normal;
  text-decoration: none;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.listItem:last-child {
  border-bottom: none;
}

.arrow {
  color: #123a6b;
  font-weight: 700;
}

.viewMoreWrap {
  padding: 12px 20px;
  display: flex;
  justify-content: flex-end;
  border-top: none;
  border-radius: 0 0 6px 6px;
  max-width: 100%;
  margin-top: 0;
}

.colRight {
  display: flex;
  flex-direction: column;
}

.newsCard {
  background-color: #162f6a;
  color: #fff;
  border-radius: 8px;
  padding: 36px 24px;
  min-height: 220px;
  display: flex;
  align-items: center;
}

.viewMoreWrapRight {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.viewMore {
  border: 1px solid #123a6b;
  background: #fff;
  color: #123a6b;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .colRight {
    flex-basis: auto;
    margin-top: 24px;
  }
}